$font: "../fonts";

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('#{$font}/LeagueGothicRegular/LeagueGothicRegular.eot');
  src: url('#{$font}/LeagueGothicRegular/LeagueGothicRegular?#iefix') format('embedded-opentype'),
  url('#{$font}/LeagueGothicRegular/LeagueGothicRegular.woff') format('woff'),
  url('#{$font}/LeagueGothicRegular/LeagueGothicRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('#{$font}/OpenSansLight/OpenSansLight.eot');
  src: url('#{$font}/OpenSansLight/OpenSansLight?#iefix') format('embedded-opentype'),
  url('#{$font}/OpenSansLight/OpenSansLight.woff') format('woff'),
  url('#{$font}/OpenSansLight/OpenSansLight.ttf')  format('truetype');
}

@font-face {
  font-family: 'BebasNeue';
  src: url('#{$font}/BebasNeue/BebasNeue.eot');
  src: url('#{$font}/BebasNeue/BebasNeue?#iefix') format('embedded-opentype'),
  url('#{$font}/BebasNeue/BebasNeue.woff') format('woff'),
  url('#{$font}/BebasNeue/BebasNeue.ttf') format('truetype');
}

@font-face {
  font-family: 'Lobster';
  src: url('#{$font}/Lobster/Lobster1.4.eot');
  src: url('#{$font}/Lobster/Lobster1.4.?#iefix') format('embedded-opentype'),
  url('#{$font}/Lobster/Lobster1.4.woff') format('woff'),
  url('#{$font}/Lobster/Lobster1.4.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('#{$font}/OpenSansRegular/OpenSans-Regular.eot');
  src: url('#{$font}/OpenSansRegular/OpenSans-Regular?#iefix') format('embedded-opentype'),
  url('#{$font}/OpenSansRegular/OpenSans-Regular.woff') format('woff'),
  url('#{$font}/OpenSansRegular/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('#{$font}/SourceSansProRegular/SourceSansProRegular.eot');
  src: url('#{$font}/SourceSansProRegular/SourceSansProRegular?#iefix') format('embedded-opentype'),
  url('#{$font}/SourceSansProRegular/SourceSansProRegular.woff') format('woff'),
  url('#{$font}/SourceSansProRegular/SourceSansProRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url('#{$font}/SourceSansProLight/SourceSansProLight.eot');
  src: url('#{$font}/SourceSansProLight/SourceSansProLight?#iefix') format('embedded-opentype'),
  url('#{$font}/SourceSansProLight/SourceSansProLight.woff') format('woff'),
  url('#{$font}/SourceSansProLight/SourceSansProLight.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url('#{$font}/SourceSansPro-Bold/SourceSansPro-Bold.eot');
  src: url('#{$font}/SourceSansPro-Bold/SourceSansPro-Bold?#iefix') format('embedded-opentype'),
  url('#{$font}/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff'),
  url('#{$font}/SourceSansPro-Bold/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MyriadProBold';
  src: url('#{$font}/MyriadPro-Bold/MyriadPro-Bold.eot');
  src: url('#{$font}/MyriadPro-Bold/MyriadPro-Bold?#iefix') format('embedded-opentype'),
  url('#{$font}/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
  url('#{$font}/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('#{$font}/MyriadPro-Regular/MyriadPro-Regular.eot');
  src: url('#{$font}/MyriadPro-Regular/MyriadPro-Regular?#iefix') format('embedded-opentype'),
  url('#{$font}/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
  url('#{$font}/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype');
}