$border-black-sm: 1px solid $bg-black;
$border-pink-m: 2px solid $pink;
$border-grey: 1px solid $gray-l;
$border-white: 2px solid $white;
$border-white-button: 3px solid $white;
//lab10
$border-gray-rgba: 1px solid $gray-rgba-l;
$border-slider: 1px solid $gray-slider-border;
$border-red-l-text: 3px solid $red-l-extra;