//font colors
$white:#fff;
$black: #000;
$purple: #533a5e;
$pink: #edbfff;
$gray-d: #454545;
$blue-l: #4ccfc1;
$blue-middle: #3ac7b8;
$blue-d: #3cc3b5;
$blue-footer: #2da89b;
$green-l: #3cc395;
$blue-title: #3bc3b4;
$gray-l: #e1e1e1;
$gray-txt: #a0a0a0;
$blue-slider: #38c7b7;
$grey-border: #e7e7e7;
//lab10
$gray-rgba-l: rgba(0,0,0,.2);
$orange-logo: #ff8414;
$gray-slider-border: #dcdcdc;
$gray-text: #666;
$black-light: #4d4d4d;
$red-l: #ffa352;
$red-l-extra: #ffc18b;



//bg colors
$bg-black: rgba(0, 0, 0, .2);
$bg-orange: #f8f8f8;

//shadow
$shadow-black-light-extra: 0 0 3px rgba(0,0,0,.16);
$shadow-box-black-light: 0 1px 3px rgba(0,0,0,.08);
$shadow-box-black-dark: 1px 2px 3px rgba(0,0,0,.13);
//lab10
$shadow-box-black-dark-dark:0 0 4px rgba(0,0,0,.34);