$bebas-neue:"BebasNeue", sans-serif;
$lobster: "Lobster", sans-serif;
$open-sans-1:"OpenSansLight", sans-serif;
$league-gothic-r: "LeagueGothicRegular", sans-serif;
$open-sans-regular: "OpenSansRegular", sans-serif;
$source-sans-pro-regular: "SourceSansProRegular", sans-serif;
$source-sans-pro-light: "SourceSansProLight", sans-serif;
$source-sans-pro-bolt: "SourceSansProLight", sans-serif;
$myriad-pro-bold: "MyriadProBoldt", sans-serif;
$myriad-pro-regular: "MyriadProRegular", sans-serif;


$shadow-black-light: 0 2px 2px rgba(0,0,0,.3);
$shadow-black-medium: 1px 2px 2px rgba(0,0,0,.4);
$shadow-white-hover:  0 0 8px rgba(255,255,255,.8);

///line-height style
$lh-sm: 1.1em;
$lh-md: 1.3em;

//16px
$fs-base: 1rem;
//9px
$fs-title-extra-small: 0.5625rem;
//14px
$fs-title-middle-small:0.875rem;
//18px
$fs-title-small: 1.125rem;
//20px
$fs-title-little: 1.25rem;
//21px
$fs-title-middle: 1.313rem;
//31px
$fs-title-extra: 1.938rem;
//32px
$fs-large: 2rem;
//44px
$fs-middle-large: 2.75rem;
//48px
$fs-extra-large:3rem;




//48px = 3rem
//44px = 2.75rem
//32px = 2rem
//31px = 1.938rem
//21px = 1.313rem
//20px = 1.25rem
//18px = 1.125rem
//16px = 1rem (base)
//14px = 0.875rem
//9px = 0.5625rem

