.drop-city {


  select {
    padding-left: 20px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;


    color: $gray-text;
    font-size: $fs-title-small;
    font-family: $source-sans-pro-regular;



    border-radius: 18px;
    outline: none;
    border: none;
    box-shadow: inset 0 0 3px rgba(0,0,0,.33);

    width: 318px;
    height: 34px;

    background-image: url("../images/dropcity.png");
    &::-ms-expand {

      display: none;
    }
  }
}